{% extends "base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Экстракт подмора пчел</title>
	<link rel="stylesheet" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-4.1.1-dist/css/bootstrap-grid.min.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'script/jquery-ui-1.12.1.custom/jquery-ui.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
	<div class="container">
		<h1 class="prod_header">Экстракт подмора пчел (апихитозан)</h1>
		<div class="about_prod">
			<div class="img">
				<img class="img-fluid" src="{% static 'img/products/mini/8.jpg' %}" alt="Экстракт подмора пчел">
			</div>
			<div class="description">
			<p class="first_p">Даже будучи мертвыми, пчелы не перестают приносить пользу человеку. Пасечники их собирают, высушивают и превращают в так называемый подмор. Лечение данным пчелопродуктом не относится к списку традиционных методов, однако его целебный эффект отрицать нельзя. Давайте же выясним, чем именно он вызван. <br>
			Каждая мертвая пчела - это кладезь полезных микроэлементов. Состав перетертого продукта включает:</p>
					<ul>
						<li>- мед,</li>
						<li>- пыльцу,</li>
						<li>- маточное молочко, </li>
						<li>- прополис, </li>
						<li>- воск и частицы других пчелопродуктов хитин меланин апитоксин, </li>
						<li>- более известный как пчелиный яд жиры пищевые волокна.</li>
					</ul>
			<p>
			Польза пчелопродуктов в составе очевидна. Они содержат витамины (A, B, C, D, E, H, K), микроэлементы (калий, магний, железо, кальций и другие), органические кислоты (муравьиная, лимонная, щавелевая и другие) и множество других целебных веществ. Благодаря им, применение настойки пчелиного подмора и других средств на его основе - это крепкий иммунитет, мощный заряд бодрости ежедневно и отличная работоспособность. </p>
			<p>
			Хитиновый покров маленьких тружениц является источником гепарина и гепариноидов. Это химические соединения, способствующие нормализации работы сердца и потоку крови. Поэтому лечение подмором пчел эффективно в случае патологий печени, почек и сосудов. Данный элемент также способствует выведению радионуклидов и солей металлов. Доказано его целебное воздействие на работу эндокринной системы.</p>
			<p>
			В сочетании с меланином хитозан расщепляет жиры. Это способствует снижению холестерина в крови, что является профилактикой различных заболеваний: от ожирения до атеросклероза. </p> 
			<p>Лечение пчелиным ядом предшествовало подмору. Данный пчелопродукт использовался в народной медицине еще около 5000 лет назад. Подтверждением тому стали найденные в Египте папирусы и рисунки внутри пирамид. Пчелиный яд является мощным анестетиком, а также обладает заживляющими и противовоспалительными свойствами. Это позволяет использовать подмор не только внутрь, но и наружно - к примеру, для лечения артрита.</p>
			<p>
			Жир в теле мертвой пчелы ученые называют продуктом, даже более ценным, чем рыбий жир. В данный момент его целебные свойства исследуются. Однако, стало известно, что именно благодаря этому компоненту лечение пчелиным подмором является возможным для диабетиков. Он помогает продуктам усваиваться и не вызывает колебаний уровня сахара в крови. </p>
			<p>Пищевые волокна способствуют очищению организма от токсинов, шлаков, излишек холестерина. Кроме того, они освобождают от внешних «загрязнителей»: пестицидов, солей, антибиотиков и т.п.</p>
			<p>Итак, подытожим. Сочетание всех вышеперечисленных составляющих делает лекарство из подмора пчел эффективных для профилактики и лечения заболеваний: </p>
					<ul>
						<li>- сердечно-сосудистой системы (гипертония, гипотония, варикозное расширение вен, тромбофлебит)</li>
						<li>- желудочно-кишечного тракта (колит, гастрит, язва, холецистит)</li>
						<li>- поджелудочной и щитовидной желез</li>
						<li>- почек</li>
						<li>- печени</li>
						<li>- глазных органов (близорукость, конъюктивит, катаракта, глаукома)</li>
						<li>- дыхательной системы (пневмония, туберкулез, бронхит, астма)</li>
						<li>- носоглотки (ангина, гайморит, отит, ларингит)</li>
						<li>- ротовой полости</li>
						<li>- опорно-двигательного аппарата (артроз, артрит, боли в суставах и позвоночнике)</li>
						<li>- мочеполовой системы у мужчин (простатит, аденома предстательной железы, цистит, импотенция, бесплодие)</li>
						<li>- женской репродуктивной системы (миома матки)</li>
						<li>- кожного покрова (раны, рубцы, язвы, нейродермит, псориаз)</li>
					</ul>
			<p>К противопоказаниям настойки пчелиного подмора и других средств на его основе относятся: высокая температура (от 38 градусов), а также синдромы сердечной, сосудистой, печеночной, почечной или дыхательной недостаточности.	</p>		
			</div>	   			
		</div>
	</div>
<footer>
    	<p>HONEY PRODUCTION © 2018 PRIVACY POLICY </p>
</footer>
	<script src="{% static 'script/script.js' %}" type="text/javascript"></script>
</body>
</html>
{% endblock %}