{% extends "base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Апиклин</title>
	<link rel="stylesheet" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-4.1.1-dist/css/bootstrap-grid.min.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'script/jquery-ui-1.12.1.custom/jquery-ui.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
	<div class="container">
		<h1 class="prod_header">Апиклин</h1>
		<div class="about_prod">
			<div class="img">
				<img class="img-fluid" src="{% static 'img/products/mini/2a.jpg' %}" alt="Апиклин">
			</div>
			<div class="description">
				<p></p>
			</div>	   			
		</div>
	</div>
<footer>
    	<p>HONEY PRODUCTION © 2018 PRIVACY POLICY </p>
</footer>
	<script src="{% static 'script/script.js' %}" type="text/javascript"></script>
</body>
</html>
{% endblock %}