{% extends "base.html" %}
{% load static %}
{% block content %}
<main>
    <div class="wrap-slider">
        <div class="slider">
            <div><img src="{% static 'img/products/slider/silk-bee-1328961_1280.jpg' %}"></div>
            <div><img src="{% static 'img/products/slider/honey-1772792_1280.jpg' %}"></div>
            <div><img src="{% static 'img/products/slider/bees-18192_1280.jpg' %}"></div>
            <div><img src="{% static 'img/products/slider/honey-bees-401238_1280.jpg' %}"></div>
        </div>
    </div>
    <div class="container">
        <p>В последние годы люди начинают понимать, что химические лечебные препараты далеко не всесильны, и порой пользу от их применения сопровождают различные негативные последствия. Да и цены в аптеках "кусаются". Поэтому натуральные эффективные методы лечения всё больше привлекают людей.</p>
        <p>Одним из таких нетрадиционных видов лечения является <strong>апитерапия </strong>(т.е. лечение продуктами пчеловодства - прополисом, пергой, пчелиными обножками, маточным и трутневым молочком, подмором, экстрактом личинок восковой моли, забрусом, воском, мёдом и др).</p>
        <p>Далеко не всем известны целебные свойства пчелопродуктов и препаратов из них. А ведь эффект от применения их в лечениии и профилактике поразительный.</p>
        <p>Хочу обратить внимание на то, что речь идет только о натуральных пчелопродуктах, а не о промышленных препаратах на их основе. Как бы не рекламировались иностранные "суперпродукты" от "их" пчелы, но для нас самым подходящими будут пчелопродукты от наших родных пчел. Что из препаратов пчелиной аптеки, кому и при каких заболеваниях подходит - подберет врач-апитерапевт.</p>
    </div>
</main>
{% endblock %}











<!-- Optional JavaScript
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'script/jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'bxslider-4-4.2.12/dist/jquery.bxslider.min.js' %}"></script>
<script src="{% static 'script/script.js' %}"></script>
</body>
</html>